<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>
                Tech Updates
            </h1>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Created by Stephanie Rodriguez
        </footer>
    </div>
</body>

</html>
